ul {
    margin: 0;
    padding: 0;
}
  
li {
    display: inline;
}

li a{
    font-size: 0.8em;
    margin: 10px;
}

.contacto{
    background-color: #d7da24;
}

.contacto .col:nth-child(1){
    margin: 70px 150px 70px 150px;
}

.contactoInfo div{
    padding: 0;
    font-size: 0.8em;
    border-bottom: solid;
    border-width: 0.1em;
}

#whatsappLogo{
    max-width: 20%;
    height: auto;
}

.formulario .col-4 input{

    border: solid;
    border-width: 0.1px;

    width: 100%;
    height: 40px;
}

.formulario .col-4 input:nth-child(-n+2){
    margin-bottom: 30px;
}

.formulario .col-8 textarea{

    border: solid;
    border-width: 0.1px;

    width: 100%;
    height: 100%;
}

#sendForm{
    margin-top: 20px;
    border: solid;
    border-width: 1px;

    width: 100px;

    background-color: #d7da24;
}

#map{
    width: 100%;
    height: 450px;
    border: 0;
}

.informacion{
    background-color: #3d2925;
}

.informacion p{
    font-size: 0.8em;
    color: white;
}

.informacion .col-6 div{
    font-size: 0.8em;
    color: white;
}

#sendForm{
    border: solid;
    border-width: 1px;
}


.redes{
    margin: 2% 0 2% 0;
}

.redes .col-6:nth-child(2){
    text-align: right;
}

.socialLogos{
    width: 3%;
    height: auto;
}

.socialLogos:nth-child(-n+3){
    margin-right: 10px;
}
.circulo {
	width: 200px;
    height: 190px;
	border-radius: 50%;
	background: #d7da24;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 50px;
    padding:3%
}
.circulo a{
    color: black;
}
.servicios{
    background-image: url(../img/fondo-Servicios.png)
}
.boton{
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: black;
    background-color: #ffffff;
    border-radius: 6px;
    border: 2px solid ;
    margin-left: 100px;
    margin-bottom: 30px;
    margin-top: 30px;
}
.boton:hover{
    color: black;
    background-color: #d7da24;
}
.info {
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    margin-right: 10px;
}
.imagenes img{
    width:400px;
    height:150px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.Termales{
    background-color: rgb(61, 41, 37);
}
.Termales p{
    color: white;
}
.slider{
    width: 1400px;
    margin: auto;
    overflow: hidden;
}

.slider ul{
    display: flex;
    padding: 0;
    width: 200%;

    animation: cambio 12s infinite;
}

.slider li{
    width: 100%;
    list-style: none;
}
.slider img{
    width: 100%;
}
@keyframes  cambio{
    0% {margin-left: 0;}
    45% {margin-left: 0;}

    50% {margin-left: -100%;}
    100% {margin-left: -100%;}
}