ul {
    margin: 0;
    padding: 0;
}
  
li {
    display: inline;
}

li a{
    font-size: 0.8em;
    margin: 10px;
}

.contacto{
    background-color: #d7da24;
}

.contacto .col:nth-child(1){
    margin: 70px 150px 70px 150px;
}

.contactoInfo div{
    padding: 0;
    font-size: 0.8em;
    border-bottom: solid;
    border-width: 0.1em;
}

#whatsappLogo{
    max-width: 20%;
    height: auto;
}

.formulario .col-4 input{

    border: solid;
    border-width: 0.1px;

    width: 100%;
    height: 40px;
}

.formulario .col-4 input:nth-child(-n+2){
    margin-bottom: 30px;
}

.formulario .col-8 textarea{

    border: solid;
    border-width: 0.1px;

    width: 100%;
    height: 100%;
}

#sendForm{
    margin-top: 20px;
    border: solid;
    border-width: 1px;

    width: 100px;

    background-color: #d7da24;
}

#map{
    width: 100%;
    height: 450px;
    border: 0;
}

.informacion{
    background-color: #3d2925;
    margin: 10px;
}

.informacion p{
    font-size: 0.8em;
    color: white;
}

.informacion .col-6 div{
    font-size: 0.8em;
    color: white;
}


.redes{
    margin: 2% 0 2% 0;
}

.redes .col-6:nth-child(2){
    text-align: right;
}

.socialLogos{
    width: 3%;
    height: auto;
}

.socialLogos:nth-child(-n+3){
    margin-right: 10px;
}